<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件循环</title>
    <script src="vue.min.js"></script>
</head>
<body>
<div id="app">
    <!--ng-show,ng-hide -->
    <p v-if="seen">现在你看到我了</p>
    <ul>
        <!--ng-repeat-->
        <li v-for="item in todo">{{item.text}}</li>
    </ul>
</div>
</body>
</html>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            seen:true,
            todo:[
                {text:'html5'},
                {text:'CSS3'},
                {text:'javascript'}
            ]
        }
    })
</script>